/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * The Initial Developer of the Original Code is Netscape Communications
  * Corporation. Portions created by Netscape are
  * Copyright (C) 1998 Netscape Communications Corporation. All
  * Rights Reserved.
  *
  * Contributor(s): Myk Melez <myk@mozilla.org>
  */

/* Right align bug IDs. */
.bz_id_column { text-align: right; }

/* Style bug rows according to severity. */
.bz_blocker { color: red; font-weight: bold; }
.bz_critical { color: red; }
.bz_enhancement { color: #888; background-color: white; }

/* Style secure bugs if the installation is not using bug groups.
 * Installations that *are* using bug groups are likely to be using
 * them for almost all bugs, in which case special styling is not
 * informative and generally a nuisance.
 */
.bz_secure { color: black; background-color: lightgrey; }

/* Align columns in the "change multiple bugs" form to the right. */
table#form tr th { text-align: right; }

.bz_oddrow { background-color: #eeeeee; }
