
.bz_private { color: darkred ; background : #f3eeee ; }
.bz_disabled { color: #a0a0a0 ; }

.bz_obsolete { text-decoration: line-through underline; }

table#flags th, table#flags td { vertical-align: baseline; text-align: left; }
