[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Myk Melez <myk@mozilla.org>
  #%]

[%# INTERFACE:
  # tabs: List of hashes. May not be empty. Each hash has two members:
  #   name: string. Name of the tab and the format it represents.
  #   description: string. Description of the tab (used in tab title).
  #%]

[% tabs = [ { name => '__DEFAULT__', description => "Advanced Search" },
            { name => 'specific', description => "Find a Specific $terms.Bug " } ] %]

[% current_tab = query_format || format || "__DEFAULT__" %]

<center>
  <table cellspacing="0" cellpadding="10" border="0" width="100%">
    <tr>
      <td class="spacer">&nbsp;</td>
 
      [% FOREACH tab = tabs %]
        [% IF tab.name == current_tab %]
          <td align="center" bgcolor="lightblue" class="selected_tab">
            [% tab.description %]
          </td>
        [% ELSE %]
          <td align="center" bgcolor="#BBBBEE" class="unselected_tab">
            <a href="query.cgi
              [% IF tab.name != "__DEFAULT__" %]?format=[% tab.name %][% END %]"
            >
              [% tab.description %]
            </a>
          </td>
        [% END %]
       [% END %]
 
       <td class="spacer">&nbsp;</td>
     </tr>
   </table>
</center>
